@font-face { 
    font-family: Fedra-Sans-Std-Book;
    src: url('fonts/Fedra-Sans-Std-Book_17248.ttf');
}
.ui-content{
    padding-top: 0;
}
#loginContent{
    font-family: Fedra-Sans-Std-Book;
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
#forgotLink{
    text-decoration: none;
    float: right;
    color: #007272;
    font-size: 0.75em;
}
#forgotLink:hover{
    text-decoration: underline;
}

#forgot{
    background-image: url(img/BackgroundDesign.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}


.password{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
}
#createUser{
    text-decoration: none;
    color: #007272;
    font-size: 0.75em;
    font-family: sans-serif;
}
#createUser span {
    font-weight: bolder;
}
#createUser:hover{
    text-decoration: underline;
}
#loginBtn{
    color: #007272;
    margin-top: 5em;
}
#loginBackground{
    background-image: url(img/BackgroundDesign.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

#username{
    background-color: #007272;
    color: white;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-shadow: none;
    float: left;
    margin-bottom: 0.1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 80%;
    margin-left: 10%;
    background-image: url(img/man-userWhite.png);
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: 0.5em 0.4em;
    text-indent: 2em;
}

#usernamePassword{
    background-color: #007272;
    color: white;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-shadow: none;
    float: left;
    margin-bottom: 0.1em;
    width: 80%;
    margin-left: 10%;
    background-image: url(img/man-userWhite.png);
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: 0.5em 0.4em;
    text-indent: 2em;
}
.ui-input-text.ui-custom {
    border: none;
    box-shadow: none;
}
#username::-webkit-input-placeholder {
    color: white;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-shadow: none;
    text-indent: 2em;
}
#password{
    background-color: #007272;
    color: white;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-shadow: none;
    float: left;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-bottom: 0.3em;
    width: 80%;
    margin-left: 10%;
    background-image: url(img/padlock.png);
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: 0.5em 0.4em;
    text-indent: 2em;
}

#password::-webkit-input-placeholder {
    color: white;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-shadow: none;
    text-indent: 2em;
}

.registerfields{
    background-color: #007272!important;
    color: white!important;
    font-weight: lighter!important;
    letter-spacing: 0.1em!important;
    text-shadow: none!important;
    float: left!important;
    margin-bottom: 0.1em!important;
    background-size: 1.5em!important;
    margin-bottom: 15px!important;
}

.has-error{
    background-color: firebrick!important;
}

.has-success{
    background-color: greenyellow!important;
}


.maal {
    text-align: center;
    font-size: 1em;
    background-color: #007272;
    color: aliceblue;
    font-style: normal;
    text-decoration: none;
    font-weight: 100;
    padding: 4px;
    padding-left: 5px;
    margin-top:-15px; 
}

#budget {
    background-color: white;
}

#budgetMain {
    background-color: #007272;
    height: 100vh !important;
}

.header {
    background-color: white !important;
}
.header h1 {
    color: black;
}
#budget p {
    color: white;
}

#addBudgetBtn {
    background-color: #007272;
    color: white;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-shadow: none;
    border-radius: 1em;
}

#budgetLinks {
    background-color: #007272;
    color: white;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-shadow: none;
    border-radius: 1em;
}
#liste {
    box-shadow: none;
    background-color: transparent;
}
#liste li {
    margin-bottom: 0.5em;
}

/*budgetPage*/
#budgetPageContent {
    background-color: #007272;
    height: 100vh !important;
}
#budgetPageContent p {
    color: white;
}
.budgetPageList li{
    border: 1px;
    border-color: white;
    background-color: #007272 !important;
    color: white !important;
}
.budgetPageList li span {
    right: 0 !important;
}
.budgetBtn {
    color: #007272!important;
    width: 50vw;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 0.5em;
}
#budgetBtn1 {
    margin-top: 0.5em;
}
/*footer*/
.foo .ui-btn {
    padding-top: 40px !important;
}

.foo .ui-btn:after {
    width: 30px!important;
    height: 30px!important;
    margin-left: -15px !important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}


#economyFoo:after {
    background: url("img/hand-holding-up-a-sack-of-money.png") 50% 50% no-repeat;
    background-size: 24px 24px;
}

#budgetFoo:after {
    background: url("img/pie-chart.png") 50% 50% no-repeat;
    background-size: 24px 24px;
}

#rewardFoo:after {
    background: url("img/medal.png") 50% 50% no-repeat;
    background-size: 24px 24px;
}

#walletFoo:after {
    background: url("img/wallet.png") 50% 50% no-repeat;
    background-size: 24px 24px;
}



.rewardsImg{
    width: 40px;
    padding: 5px;
}

.rewardContainer{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}
#myProgress {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: lightgray;
}

#myBar {
    position: absolute;
    width: 40%;
    border: 2px solid white;
    border-left: none;
    height: 60%;
    background-color: #007272;
    margin-top: 2px;
}

#myBar2 {
    position: absolute;
    width: 26%;
    border: 2px solid white;
    border-left: none;
    height: 60%;
    background-color: #007272;
    margin-top: 2px;
}
#myBar4 {
    position: absolute;
    width: 80%;
    border: 2px solid white;
    border-left: none;
    height: 60%;
    background-color: #007272;
    margin-top: 2px;
}

#myBar3 {
    position: absolute;
    width: 50%;
    border: 2px solid white;
    border-left: none;
    height: 60%;
    background-color: #007272;
    margin-top: 2px;
}

.textcontainer{
    text-align: center;
}

.textcontainer .rewardtext{
    margin: 2px;
    font-size: 20px;
    margin-left: 0px;
    font-weight: 700;
}

.textcontainer .xp{
    margin: 2px;
    font-size: 19px;
}

.economyitem p{
    margin: 0px;   
}

.frontView ul, li{
    list-style: none;
    padding-left: 0px!important;

}

/*end footer*/

/*iPhone < 5:*/
@media screen and (device-aspect-ratio: 2/3) {}

/*iPhone 5:*/
@media screen and (device-aspect-ratio: 40/71) {}

/*iPhone 6:*/
@media screen and (device-aspect-ratio: 375/667) {}

/*iPhone 6 Plus:*/
@media screen and (device-aspect-ratio: 16/9) {}

/*iPad:*/
@media screen and (device-aspect-ratio: 3/4) {}
